main {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 36px 42px 1fr;
}

header {
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 20px;
		font-weight: 600;
		color: #24292F;
		margin: 0;

		span {
			font-size: 14px;
			color: #77818C;
			font-weight: 400;
		}
	}

	.filters {
		display: flex;
		align-items: center;
		gap: 8px;

		span {
			font-size: 14px;
			color: #77818C;
			font-weight: 400;
		}

		button {
			border: 1px solid var(--color-lightgray);
			background-color: transparent;
			border-radius: 2px;
			padding: 0 14px;
			height: 100%;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 8px;
			color: #77818C;
			cursor: pointer;

			&::before {
				content: "";
				margin-top: 1px;
				width: 16px;
				height: 16px;
				background-color: var(--color-primary);
			}

			&.energy::before {
				mask-image: url('../../assets/energy.svg');
			}

			&.critical::before {
				mask-image: url('../../assets/critical.svg');
			}

			&.active {
				background-color: var(--color-primary);
				border-color: var(--color-primary);
				color: white;

				&::before {
					background-color: white;
				}
			}
		}
	}
}

.asset-view {
	border: 1px solid var(--color-lightgray);
	border-radius: 2px;
	overflow: auto;
	margin-block-start: 8px;
}
